@use "./partials/global" as *;

nav.body__nav {
    /* width: 100vw; */
}

.body__nav img {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.body__nav h1 {
    display: block;
    margin-left: auto;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    color: #f7f7f7;
    background-color: #393939;
    padding: 0 2rem 3rem 2rem;
}

.body__nav div {
    background-color: #393939;
    display: block;
    line-height: 2rem;
    height: 2.5rem;
    padding: 1rem;
}

.body__nav ul {
    width: auto;
    margin: auto;
    display: table;
}

.body__nav li {
    box-sizing: border-box;
    display: inline-block;
    margin: 0.5rem;
    text-align: center;
    margin: 0 1rem;
    border-style: solid;
    border-left: 2px green;
    padding: 0 1rem;
    border-left: solid #5BACC3;
    border-width: 0 0 0 0.2rem;
}

.body__nav a {
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3125rem;
    font-weight: 700;
    text-align: center;
    color: #f7f7f7;
}

.main__container,
.main__container-2,
.main__container-3 {
    padding: 1em;
    text-align: center;
}

.main__container-2 {
    background-color: #f7f7f7;
}