@use '../../styles/colours.scss' as *;
@use '../../styles/global.scss' as *;

.toggle-btn {
    margin: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
    border-style: solid;
    background-color: $isoitem-title-bg;
    border-color: $iso-card-icon;
    transition: all 0.125s;

    position: absolute;
    top: -1.5rem;

    &:hover {
        // border-color: red;
        background-color: $active;
    }

    &--toggled {
        border-color: chartreuse;
    }

    &--toggled:hover {
        border-color: chartreuse;
    }

}

.camera-icon {
    width: 100%;
    height: 100%;
}

// .toggled-on {

//     transform: translateY(80%) translateZ(-5rem);
//     scale: 0.85;
//     transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);

// }

.toggled-on {

    transform: translateY(3rem) translateZ(-5rem);
    // scale: 0.85;
    transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);

}

.photo-gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title {
        font-size: large;
        text-transform: uppercase;
    }
}

.iso-buttons {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-bottom: 0;
    cursor: pointer;
    user-select: none;
    opacity: 0;
    transition: opacity 1s;
    transition-timing-function: cubic-bezier(1, -0.23, 1, 1.03);
    margin-top: 0;
    margin-right: 1.5rem;

    &--toggled {
        opacity: 1;
        // transition: opacity 0.125s;
    }

    li {
        /* width: auto; */
        color: $iso-button-title; 
        border-radius: 0.25rem;
        text-align: center;
        padding: 0.25rem 0.5rem;
        margin: 0.25rem 0.5rem; 
        gap: 4px;
        font-size: 12px;
        background-color: $iso-button;
    }
}

#page-leaf {
    padding: 1rem;
    box-shadow: $pretty-shadow-top;
}