@use "m_&_f" as *;
@use "colours" as *;
@use "../../components/header/header.scss" as *;

body,
form,
button,
h6,
h5,
h4,
h3,
h2,
h1,
div,
p,
ul,
li,
textarea {
  font-family: 'AvenirNextLTPro-Regular';
}

body {
  margin: 0;
}

code {}

.App-header {
  color: $Pri-Dark;
}

.pagecontainer {
  display: flex;
  flex-direction: column;

  @include desktop {
    padding: 0 8rem;
    flex-direction: row;
  }

  &__left {
    padding: 1rem;

    @include desktop {
      padding: 0;
      padding-top: 1rem;
      margin-right: -1rem;
      flex: 75%;
    }
  }

  &__right {
    margin: 0 1rem;
    padding-top: 1rem;
    border-top: 1px solid $Pri-Mid;

    @include desktop {
      border-top: none;
      padding-left: 1rem;
      border-left-style: solid;
      border-left-color: $Pri-Mid;
      flex: 25%;

    }
  }
}

.btn {
  font-size: large;
  width: 100%;
  height: 2.5rem;
  color: $Pri-Light;
  background-color: $Pri-Col;
  border-style: none;
  display: flex;
  padding: 0.25rem;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  align-content: center;
  border-radius: 0.25rem;

  @include tablet {
    margin: 0;
    margin-left: 1rem;
    width: 16rem;
  }

  img {
    margin-left: 1rem;
    margin-right: auto;
  }

  span {
    font-weight: bold;
    margin-right: auto;
  }
}