body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// Colours

/* P = Active Page
BG = Background
TT = Title and Text
ST = Subtitles */

$header_ap: #db7a4e;
$footer_bg: #fefaf5;
$footer_tt: #335576;
$footer_st: #db7a4e;

body {
	background-color: $footer_bg;
}

main {
	background-color: #ffffff;
}

// end of colours */

/* h6,
h5,
h4,
h3,
h2,
h1 {
   Write them in this order
} */

h6,
h5,
h4,
h3,
h2,
h1,
p {
	color: $footer_tt;
}

#nav__logo,
.body__navbar a {
	color: #335576;
}

// "The navigation bar must be fixed to the top of the page"

#nav__logo {
	order: -1;
	margin-right: auto;
	font-weight: 900;
	margin-left: 5rem;
}

.body__navbar {
	width: 100%;
	position: fixed;
	background-color: #ffffff;
	top: 0;

	ul {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 9rem;
	}

	#ul__currentpage a {
		text-decoration: none;
		border: solid;
		border-color: $header_ap;
		border-top: 0;
		border-right: 0;
		border-bottom-width: 0.3em;
		border-left: 0;
	}

	li {
		margin: 1em;
	}

	ul li a {
		padding-bottom: 0.5rem;
		text-decoration: none;
		color: black;
	}

	ul li a:active {
		color: $header_ap;
	}
}

.main__title {
	margin-left: 7rem;
}
.main__card-container {
	display: flex;
	gap: 2rem;
	// width: 67vw;
	margin: auto;
	padding-bottom: 5rem;
	padding-top: 1rem;
	flex-wrap: wrap;
	justify-content: center;
	

a {
	width: auto;
	height: auto;
}

h2 {
	width: 100%;
	float: left;
}

img {
	width: auto;
	height: 100%
}

	

}

 




.section__card {
	//     The border radius of the cards must be 5px
	// o The border of the cards must be 1px solid black with an opacity of 20%
	// o The box shadow of the cards must be:
	//  Horizontal Offset: 0px
	//  Vertical Offset: 4px
	//  Blur: 4px
	//  Color: Black, with an opacity of 20%

	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	color: black;
	--width: 20vw; /* set the weight using a variable */
	width: var(--width); /* set the width of the container using the variable */
	height: calc(var(--width) / 0.66); /* calculate the height based on the width variable */
}

.section__card h3, .section__card p {
	position: relative;
	bottom: 4rem;
	right: 2rem;
	float: right;
	color: #ffffff;
	font-size: 1.17em;
	font-weight: 900;
}




footer {
	background-color: $footer_bg;
	height: 20vh;
}

.footer__info {
	display: flex;
	justify-content: center;
	padding: 2rem;

	h3 {
		margin: 0;
	}

	article {
		padding: 0 2em;
	}

	ul {
		display: inline-flex;
		padding: 0;
		margin: 0;
	}

	ul li {
		list-style: none;
		padding: 0;
		flex-grow: 2;
		// width: 50%;
	}

	ul li h3, ul li p {
		width: 100%;
		// margin: 0 0.5rem;
		margin-right: 1rem;
	}

	.footer__subtitle {
		font-size: 0.625rem;
		color: $footer_st;
		margin-top: 0.5rem;
	}

	// article:last-child {
	//     display: block;
	// }

	img {
		width: auto;
		height: 2rem;
		padding-right: 1rem;
		padding-top: 1rem;
	}
}