// Colours

$header-writing: rgb(115, 18, 82);

$active: rgb(255, 149, 0);
$page: #ffffff;

$main-bg-dark: #22272e;
$main-bg-light: #2d333b;

$lightbox-bg: rgba(0, 0, 0, 0.753);

$isoitem-bg: rgba(0, 0, 0, 0.4);
$isoitem-writing: white;
$isoitem-title: white;
$isoitem-title-bg: rgba(0, 0, 0, 0.6);

