// Colours

$header-writing: #cdd9e5;

$active: rgb(255, 149, 0);
$page: #1C2128;

$main-bg-dark: #22272e;
$main-bg-light: #2d333b;

$lightbox-bg: rgba(0, 0, 0, 0.753);

$isotope-bg: #21272E;

$category-writing: rgb(198, 198, 198);
$isoitem-bg: rgba(0, 0, 0, 0.4);
$isoitem-writing: white;
$isoitem-title: white;
$isoitem-title-bg: rgba(0, 0, 0, 0.6);





$color-a: #002b36;
$color-b: #073642;
$color-c: #586e75;
$color-d: #657b83;
$color-e: #839496;
$color-f: #93a1a1;
$color-g: #eee8d5;
$color-h: #fdf6e3;
$color-i: #b58900;
$color-j: #cb4b16;
$color-k: #dc322f;
$color-l: #d33682;
$color-m: #6c71c4;
$color-n: #268bd2;
$color-o: #2aa198;
$color-p: #859900;
$color-q: #ffffff;
$color-r: #cecece;
$color-s: #1d1e21;

// shadows

$pretty-shadow: 0 -0.0625rem 0.625rem rgba(0, 0, 0, 0.1);
$pretty-shadow-top: 0 -0.0625rem 0.1625rem rgba(0, 0, 0, 0.1);