@font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url("../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
  }
  
  @font-face {
    font-family: "AvenirNextLTPro-Demi";
    font-weight: 600;
    src: url("../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
  }
  
  @font-face {
    font-family: "AvenirNextLTPro-Bold";
    font-weight: 700;
    src: url("../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
  }