@use "../../styles/Partials/colours" as *;
@use "../../styles/Partials/m_&_f" as *;


header {
    align-items: center;

    .lnk {
        width: 100%;
        text-decoration: none;
    }

    .btn {
        margin-left: 0;
    }

    @include tablet {
        display: flex;
        padding: 0 1rem;
        justify-content: space-around;
    }

    @include desktop {
        padding: 0 8rem;
        justify-content: space-between;
    }
}

.brainlogo {
    text-align: center;
    padding: 1rem;
    padding-bottom: 0;

    @include tablet {
        margin-right: 4rem;
    }

    img {
        padding-top: 1rem;

        @include tablet {
            padding-top: 0;
        }
    }
}

.header-container {

    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include tablet {
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    &__searchbar {
        width: calc(100% - 3.25rem);

        @include tablet {
            margin-right: 1rem;
        }
    }

    &__searchform {
        width: 100%;
        height: 2.25rem;
        display: flex;
        background-color: $Sec-Light;
        // padding: 0.5rem;
        border: 0.1rem solid $Pri-Mid;
        border-radius: 0.25rem;
        align-items: center;

        img {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        input {
            width: 100%;
            background-color: transparent;
            color: $Pri-Dark;
        }

        input,
        input:focus {
            border-style: none;
            outline: none;
        }
    }

    &__avatar {
        background-image: url(../../assets/images/Mohan-muruge.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 2.25rem;
        min-width: 2.25rem;
        width: 2.25rem;
        overflow: hidden;
        border-radius: 3rem;
        
        @include tablet {
            order: +1;
        }
    }
}