@use '../../styles/colours.scss' as *;
@use '../../styles/global.scss' as *;

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#head-logo {
    // margin-left: auto;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $header-writing;
    text-decoration: none;
}

.navbar-container {
    display: flex;
    list-style: none;

    &__item {
        flex-basis: 20%;
        padding: 1rem;
        
        a {
            color: $header-writing;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5rem;
            width: 100%;
        }

        .active {
            color: $active;
            height: 1rem;
        }
    }
}

.active {
    color: red;
}