@use "./partials/global" as *;

// img {
// 	height: 100%;
// 	width: 100%;
// }

#main__hero-wrapper {
	margin-top: 4rem;
	background-color: #fefaf5;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	flex-direction: row;
	padding: 4rem;
}

.main__hero {
	// width: 90%;
	// margin: auto;
	// padding: 2rem;

	p {
		width: 50vw;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	h1 {
		width: 50%;
		text-transform: capitalize;
	}

	article {
		float: left;
		width: 55%;
		padding: 2rem;
	}

	button {
		background-color: #db7a4e;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-radius: 1rem;
		border-color: transparent;
		color: white;
	}
}



#main__hero-pic {
	width: 30%;
	height: auto;
}

.section__card h3,
.section__card p {
	position: relative;
	bottom: 4rem;
	right: 2rem;
	float: right;
	color: #ffffff;
	font-size: 1.17em;
	font-weight: 900;
}