@use '../../styles/colours.scss' as *;

.iso-buttons {
    display: flex;
    list-style: none;
    justify-content: flex-end;

    li {
        width: 8rem;
        text-align: center;
        text-transform: uppercase;
    }
}

.isotope {

    &__card {
        margin: 0.5rem;
        display: flex;
        width: auto;
        border-style: solid;
        background-color: $isoitem-title-bg;
        // padding-bottom: 0.3rem;
        padding-bottom: 0;
        margin-bottom: 0;
        border-color: grey;
        box-shadow: #646464 0.1rem 0.02rem 1rem 0.01rem;

        img {
            height: 14rem;
            width: auto;
        }

        img:hover {
            background-color: black;
        }
    }

    &__card:hover .iso-exif {
        // display: flex;
        opacity: 100%;
    }
}

.iso-exif {
    width: 100%;
    height: 100%;
    background-color: $isoitem-bg;
    opacity: 0%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 250ms ease-in-out;

    pointer-events: none;

    &__title {

        background-color: $isoitem-title-bg;
        margin: 0;
        text-align: center;
        pointer-events: all;

        a {
            font-size: 2rem;
            text-transform: uppercase;
            text-decoration: none;
            color: $isoitem-title;
        }
        
        h2 {
        }
    }


    &__writing {

        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 1rem 0 0 1rem;

        p {
            color: $isoitem-writing;
            margin: 0;
        }

        &--category {
            color: $category-writing;
        }

        &--icons {
            position: absolute;
            display: flex;
            width: 6rem;
            right: 1rem;
            bottom: 1rem;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            pointer-events: all;
            
            
            img {
                padding: 0.5rem;
                border-style: solid;
                width: 1rem;
                height: 1rem;
                background-color: $isoitem-title-bg;
                border-color: white;
                transition: background-color 0.125s ease-in-out;

                &:hover {
                    background-color: $active;
                }
            }
        }

        &--gps {
            // color: white !important;
            // text-decoration: none;
            // font-weight: bold;
            // color: red;
            // // position: absolute;
            // // bottom: 0;
            // // right: 0;
            // // margin-right: 4rem;
            // // margin-bottom: 1rem;
            // // // z-index: 99;
            // // pointer-events: all;
            // // color: chartreuse;

            // img {
            //     width: 1rem;
            //     height: 1rem;
            //     border-style: solid;
            //     padding: 0.5rem;
            //     transition: all 125ms ease-in-out;
            // }

            // img:hover {
            //     background-color: aqua;
            // }
        }        
    }
}


// .myClass {
//     svg{
        
//         &:hover {
//             color: red;
//             fill: red;
//         }
//     }
        
// }

// import ZoomInIcon from '@mui/icons-material/ZoomIn';