@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  font-weight: 600;
  src: url("../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  font-weight: 700;
  src: url("../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
}
img {
  max-width: 100%;
}

body {
  font-family: "AvenirNextLTPro-Regular";
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
  color: #000000;
}

.body__navigation {
  width: 100%;
  background-color: #323232;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .body__navigation {
    width: auto;
    padding-left: 3rem;
    font-size: 2.3rem;
    align-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .body__navigation {
    padding-left: 8rem;
  }
}
.body__navigation .ul__pages {
  transition: border-color 0.25s ease-in-out;
}
@media (min-width: 768px) {
  .body__navigation .ul__pages {
    font-size: 0.8rem;
    margin-top: 1.5rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .body__navigation .ul__pages {
    font-size: 1rem;
    line-height: 2.5rem;
  }
}
.body__navigation .ul__pages a {
  height: 100%;
}
.body__navigation .ul__pages:has(> a:hover) {
  border-color: #ffffff;
}
.body__navigation #logo-head {
  order: -1;
  width: 100%;
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
  margin-right: auto;
  text-transform: uppercase;
  padding-bottom: 0;
  border-bottom: 0;
}
@media (min-width: 768px) {
  .body__navigation #logo-head {
    margin-top: 0.25rem;
    font-size: 1.5rem;
  }
}
.body__navigation #active-page {
  font-family: "AvenirNextLTPro-Demi";
  border-color: #ffffff;
}
.body__navigation nav {
  width: 100%;
}
@media (min-width: 768px) {
  .body__navigation nav {
    width: auto;
  }
}
.body__navigation ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media (min-width: 768px) {
  .body__navigation ul {
    justify-content: flex-start;
    gap: 3rem;
    flex-wrap: unset;
  }
}
.body__navigation ul li {
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  width: 50%;
  box-sizing: border-box;
  border-width: 0;
  border-bottom-width: 0.25rem;
  border-style: solid;
  border-color: transparent;
}
@media (min-width: 768px) {
  .body__navigation ul li {
    width: auto;
  }
}
.body__navigation ul li a {
  color: #ffffff;
  text-decoration: none;
}

ul li a, footer a {
  transition: color 0.25s ease-in-out;
}

ul li a:hover, footer a:hover {
  color: #afafaf;
}

footer {
  background-color: #323232;
  box-sizing: border-box;
  color: #ffffff;
}
@media (min-width: 768px) {
  footer {
    padding: 0 2.25rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  footer {
    padding: 1rem 6.75rem 2rem 6.75rem;
    font-size: 0.8rem;
  }
}
footer #footer__head {
  padding-bottom: 1rem;
}
footer #footer__head a {
  color: transparent;
}
footer #footer__head p {
  font-family: "AvenirNextLTPro-Bold";
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
footer img {
  margin-left: 0;
  margin-right: 2rem;
}
@media (min-width: 768px) {
  footer img {
    margin: 1rem;
  }
}
footer #footer__container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer #footer__container {
    align-content: center;
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0 1.725rem;
  }
}
@media (min-width: 1200px) {
  footer #footer__container {
    gap: 0 3.725rem;
  }
}
footer #footer__container #bandsite-foot {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  footer #footer__container #bandsite-foot {
    text-align: right;
    order: -1;
    font-size: 1.5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-top: 0;
    justify-content: flex-end;
  }
}
footer #footer__container #bandsite-foot a {
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  footer #footer__head {
    font-family: "AvenirNextLTPro-Demi";
    display: flex;
    justify-content: flex-start;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  footer #footer__head p {
    font-size: 2.3rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  footer #footer__head p {
    margin-right: 0.25rem;
    padding: 1rem 0;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  footer #footer__head p {
    margin-right: 2.25rem;
  }
}
@media (min-width: 768px) {
  footer #footer__container > div:first-child {
    flex: 0 0 70%;
    order: -2;
  }
}

@media (min-width: 768px) {
  .footer__mini-container {
    width: 11.25rem;
    width: 13rem;
  }
}
@media (min-width: 1600px) {
  .footer__mini-container {
    width: calc(33% - 3rem);
  }
}
.footer__mini-container a {
  text-decoration: none;
  color: #ffffff;
}

.footer__lower-mini-top {
  font-family: "AvenirNextLTPro-Demi";
  padding: 0;
  margin: 0;
}
.footer__lower-mini-top p {
  margin: 0;
  padding-bottom: 0.3rem;
}

.footer__lower-mini-mid {
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
}
.footer__lower-mini-mid p {
  padding: 0;
  margin: 0;
  font-style: normal;
  padding-bottom: 0.3rem;
}

.footer__lower-mini-bottom {
  padding: 0;
  margin: 1.5rem 0;
}

#copyright {
  padding-top: 0;
  font-size: 0.7rem;
  padding: 1rem 0 1.5rem 1rem;
}
@media (min-width: 768px) {
  #copyright {
    font-size: 0.8rem;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  #copyright {
    font-size: 1rem;
  }
}

.main__hero-bio {
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(50, 50, 50, 0.35);
  background-image: url(../assets/Images/hero-bio.jpg);
  background-position: right;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .main__hero-bio {
    background-position: bottom;
    --width: calc(100vw);
    max-width: 100%;
    width: var(--width);
    height: calc(var(--width) / 1.7066666667);
  }
}
@media (min-width: 1200px) {
  .main__hero-bio {
    background-position: top;
    height: calc(var(--width) / 2.0317460317);
  }
}
.main__hero-bio h1 {
  color: #ffffff;
  font-family: "AvenirNextLTPro-Demi";
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .main__hero-bio h1 {
    font-size: 3.5rem;
    margin-left: 3rem;
  }
}

.main__biography {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  padding-bottom: 0;
}
.main__biography h2 {
  font-family: "AvenirNextLTPro-Demi";
  line-height: 1rem;
  margin: 0;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .main__biography h2 {
    font-size: 2rem;
    padding: 3rem 0 2rem 2rem;
  }
}
@media (min-width: 1200px) {
  .main__biography h2 {
    padding: 3rem 0 3rem 2rem;
  }
}

.main__about-the-bees {
  font-size: 0.825rem;
  line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
@media (min-width: 768px) {
  .main__about-the-bees {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 6rem;
  }
}
.main__about-the-bees article {
  padding: 1rem;
  padding-top: 0;
}
@media (min-width: 768px) {
  .main__about-the-bees article {
    font-size: 0.8rem;
    width: calc(50% - 2rem);
    padding-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  .main__about-the-bees article {
    font-size: 1.125rem;
  }
}
.main__about-the-bees h2 {
  font-size: 0.9rem;
  text-indent: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .main__about-the-bees h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.section__bio-top {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 0.85rem;
}
@media (min-width: 768px) {
  .section__bio-top {
    padding: 0rem 6rem;
  }
}
@media (min-width: 768px) {
  .section__bio-top p {
    font-size: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .section__bio-top p {
    font-size: 1.7rem;
    width: 78%;
  }
}
@media (min-width: 768px) {
  .section__bio-top .div__author {
    font-size: 1rem;
  }
}
.section__bio-top #bio-photo {
  background-image: url(../assets/images/band.jpg);
  background-position: bottom;
  background-size: cover;
  --width: calc(100vw - 2rem);
  max-width: 100%;
  width: var(--width);
  height: calc(var(--width) / 1.8683159387);
}
@media (min-width: 768px) {
  .section__bio-top #bio-photo {
    background-position: center;
    --width: calc(100vw - 12rem);
    height: calc(var(--width) / 1.8947368421);
  }
}

.main__gallery {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fafafa;
  gap: 1rem;
  margin-bottom: 1rem;
}
.main__gallery h2 {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .main__gallery {
    gap: 1.5rem;
    padding: 3.375rem 1.5rem 2rem 1.5rem;
    margin-bottom: 0;
  }
  .main__gallery h2 {
    font-size: 2.25rem;
    margin: 0;
    margin-left: 0.625rem;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .main__gallery {
    padding: 2rem 6rem;
  }
}
.main__gallery img {
  box-sizing: border-box;
  width: calc(100% - 2rem);
}
@media (min-width: 768px) {
  .main__gallery img {
    width: calc(33% - 1.35rem);
    filter: grayscale(100%);
    transition: filter 125ms ease-in-out;
  }
}
.main__gallery img:hover {
  filter: grayscale(0);
}/*# sourceMappingURL=bio.css.map */