img {
  max-width: 100%;
}

body {
  font-family: "AvenirNextLTPro-Regular";
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
  color: #000000;
}

.header {
  width: 100%;
  background-color: #323232;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .header {
    width: auto;
    padding-left: 3rem;
    font-size: 2.3rem;
    align-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-left: 8rem;
  }
}
.header__pages {
  transition: border-color 0.25s ease-in-out;
  padding-bottom: 1rem;
  width: 50%;
  box-sizing: border-box;
  border-width: 0;
  border-bottom-width: 0.25rem;
  border-style: solid;
  border-color: transparent;
}
@media (min-width: 768px) {
  .header__pages {
    width: auto;
    font-size: 0.8rem;
    margin-top: 1.5rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .header__pages {
    font-size: 1rem;
    line-height: 2.5rem;
  }
}
.header__pages a {
  height: 100%;
}
.header__pages:has(> a:hover) {
  border-color: #ffffff;
}
.header #head-logo {
  order: -1;
  width: 100%;
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
  margin-right: auto;
  text-transform: uppercase;
  padding-bottom: 0;
  border-bottom: 0;
}
@media (min-width: 768px) {
  .header #head-logo {
    margin-top: 0.25rem;
    font-size: 1.5rem;
  }
}
.header #active-page {
  font-family: "AvenirNextLTPro-Demi";
  border-color: #ffffff;
}
.header nav {
  width: 100%;
}
@media (min-width: 768px) {
  .header nav {
    width: auto;
  }
}
.header ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header ul {
    justify-content: flex-start;
    gap: 3rem;
    flex-wrap: unset;
  }
}
.header ul li a {
  color: #ffffff;
  text-decoration: none;
}

ul li a, footer a {
  transition: color 0.25s ease-in-out;
}

ul li a:hover, footer a:hover {
  color: #afafaf;
}

footer {
  background-color: #323232;
  box-sizing: border-box;
  color: #ffffff;
}
@media (min-width: 768px) {
  footer {
    padding: 0 2.25rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 1280px) {
  footer {
    padding: 1rem 6.75rem 2rem 6.75rem;
    font-size: 0.8rem;
  }
}
footer #foot-head {
  padding-bottom: 1rem;
}
footer #foot-head a {
  color: transparent;
}
footer #foot-head p {
  font-family: "AvenirNextLTPro-Bold";
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
footer img {
  margin-left: 0;
  margin-right: 2rem;
}
@media (min-width: 768px) {
  footer img {
    margin: 1rem;
  }
}
footer #foot-con {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer #foot-con {
    align-content: center;
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0 1.725rem;
  }
}
@media (min-width: 1280px) {
  footer #foot-con {
    gap: 0 3.725rem;
  }
}
footer #foot-con #bandsite-foot {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  footer #foot-con #bandsite-foot {
    text-align: right;
    order: -1;
    font-size: 1.5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-top: 0;
    justify-content: flex-end;
  }
}
footer #foot-con #bandsite-foot a {
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  footer #foot-head {
    font-family: "AvenirNextLTPro-Demi";
    display: flex;
    justify-content: flex-start;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  footer #foot-head p {
    font-size: 2.3rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  footer #foot-head p {
    margin-right: 0.25rem;
    padding: 1rem 0;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  footer #foot-head p {
    margin-right: 2.25rem;
  }
}
@media (min-width: 768px) {
  footer #foot-con > div:first-child {
    flex: 0 0 70%;
    order: -2;
  }
}

@media (min-width: 768px) {
  .foot-item {
    width: 11.25rem;
    width: 13rem;
  }
}
@media (min-width: 1600px) {
  .foot-item {
    width: calc(33% - 3rem);
  }
}
.foot-item a {
  text-decoration: none;
  color: #ffffff;
}
.foot-item__top {
  font-family: "AvenirNextLTPro-Demi";
  padding: 0;
  margin: 0;
}
.foot-item__top p {
  margin: 0;
  padding-bottom: 0.3rem;
}
.foot-item__mid {
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
}
.foot-item__mid p {
  padding: 0;
  margin: 0;
  font-style: normal;
  padding-bottom: 0.3rem;
}
.foot-item__bottom {
  padding: 0;
  margin: 1.5rem 0;
}

#copyright {
  padding-top: 0;
  font-size: 0.7rem;
  padding: 1rem 0 1.5rem 1rem;
}
@media (min-width: 768px) {
  #copyright {
    font-size: 0.8rem;
    padding-left: 0;
  }
}
@media (min-width: 1280px) {
  #copyright {
    font-size: 1rem;
  }
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  font-weight: 600;
  src: url("../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  font-weight: 700;
  src: url("../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
}
.hero {
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(50, 50, 50, 0.35);
  background-image: url(../assets/Images/hero-bio.jpg);
  background-position: right;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .hero {
    background-position: bottom;
    --width: calc(100vw);
    max-width: 100%;
    width: var(--width);
    height: calc(var(--width) / 1.7066666667);
  }
}
@media (min-width: 1280px) {
  .hero {
    background-position: top;
    height: calc(var(--width) / 2.0317460317);
  }
}
.hero h1 {
  color: #ffffff;
  font-family: "AvenirNextLTPro-Demi";
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .hero h1 {
    font-size: 3.5rem;
    margin-left: 3rem;
  }
}

.biography {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  padding-bottom: 0;
}
.biography h2 {
  font-family: "AvenirNextLTPro-Demi";
  line-height: 1rem;
  margin: 0;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .biography h2 {
    font-size: 2rem;
    padding: 3rem 0 2rem 2rem;
  }
}
@media (min-width: 1280px) {
  .biography h2 {
    padding: 3rem 0 3rem 2rem;
  }
}
@media (min-width: 768px) {
  .biography h2__author {
    font-size: 1rem;
  }
}
.biography__container {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 0.85rem;
}
@media (min-width: 768px) {
  .biography__container {
    padding: 0rem 6rem;
  }
}
@media (min-width: 768px) {
  .biography__container p {
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .biography__container p {
    font-size: 1.7rem;
    width: 78%;
  }
}
.biography__container #bio-photo {
  background-image: url(../assets/images/band.jpg);
  background-position: bottom;
  background-size: cover;
  --width: calc(100vw - 2rem);
  max-width: 100%;
  width: var(--width);
  height: calc(var(--width) / 1.8683159387);
}
@media (min-width: 768px) {
  .biography__container #bio-photo {
    background-position: center;
    --width: calc(100vw - 12rem);
    height: calc(var(--width) / 1.8947368421);
  }
}

.atb {
  font-size: 0.825rem;
  line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
@media (min-width: 768px) {
  .atb {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 6rem;
  }
}
.atb__information {
  padding: 1rem;
  padding-top: 0;
}
@media (min-width: 768px) {
  .atb__information {
    font-size: 0.8rem;
    width: calc(50% - 2rem);
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .atb__information {
    font-size: 1.125rem;
  }
}
.atb h2 {
  font-size: 0.9rem;
  text-indent: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .atb h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.gallery {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fafafa;
  gap: 1rem;
  margin-bottom: 1rem;
}
.gallery h2 {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .gallery {
    gap: 1.5rem;
    padding: 3.375rem 1.5rem 2rem 1.5rem;
    margin-bottom: 0;
  }
  .gallery h2 {
    font-size: 2.25rem;
    margin: 0;
    margin-left: 0.625rem;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 2rem 6rem;
  }
}
.gallery img {
  box-sizing: border-box;
  width: calc(100% - 2rem);
}
@media (min-width: 768px) {
  .gallery img {
    width: calc(33% - 1.35rem);
    filter: grayscale(100%);
    transition: filter 125ms ease-in-out;
  }
}
.gallery img:hover {
  filter: grayscale(0);
}

.com-container {
  padding: 1rem;
}
.com-container .newcomment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.com-container .newcomment form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 80%;
}
.com-container .newcomment form label {
  color: #afafaf;
  margin-bottom: 0.25rem;
}
.com-container .newcomment form label, .com-container .newcomment form button {
  text-transform: uppercase;
}
.com-container .newcomment form textarea, .com-container .newcomment form button {
  margin-bottom: 1rem;
}
.com-container .newcomment form label, .com-container .newcomment form textarea, .com-container .newcomment form button {
  border-radius: 0.35rem;
}
.com-container .newcomment form button {
  color: #ffffff;
  font-family: "AvenirNextLTPro-Bold";
  font-size: 1rem;
  text-align: center;
  background-color: #323232;
  padding: 0.75rem;
}
.com-container .newcomment form textarea {
  padding: 0.5rem;
}
.com-container .newcomment form__name {
  height: 1.25rem;
}
.com-container .newcomment__pic {
  flex: 2.25rem;
}
.com-container .newcomment__pic div {
  margin-top: 1.5rem;
  height: 2.25rem;
  width: 2.25rem;
  overflow: hidden;
  border-radius: 3rem;
}
.com-container .newcomment__pic img {
  height: 2.25rem;
  width: auto;
  background-color: #afafaf;
}
.com-container .comments {
  display: flex;
  flex-direction: column;
}
.com-container .comment {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border-top: 1px solid #afafaf;
  padding: 1rem 0;
}
.com-container .comment:last-child {
  border-bottom: 1px solid #afafaf;
  margin-bottom: 1rem;
}
.com-container .comment__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  flex: 80%;
}
.com-container .comment__pic {
  flex: 2.25rem;
}
.com-container .comment__pic div {
  height: 2.25rem;
  width: 2.25rem;
  overflow: hidden;
  border-radius: 3rem;
}
.com-container .comment__pic img {
  height: 2.25rem;
  width: auto;
  background-color: #afafaf;
}
.com-container .comment__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.com-container .comment__info div {
  margin: 0;
}
.com-container .comment__name {
  color: #323232;
  font-weight: 900;
}
.com-container .comment__date {
  color: #afafaf;
}/*# sourceMappingURL=bio.css.map */