@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/font/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  font-weight: 600;
  src: url("../assets/font/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  font-weight: 700;
  src: url("../assets/font/AvenirNextLTPro-Bold.otf") format("opentype");
}
img {
  max-width: 100%;
}

body {
  font-family: "AvenirNextLTPro-Regular";
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h2 {
  color: #000000;
}

.body__header {
  width: 100%;
  background-color: #323232;
  display: flex;
  align-items: center;
}
@media (min-width: 1200px) {
  .body__header {
    width: auto;
    align-content: space-between;
    flex-direction: row;
  }
}
.body__header #navbar-logo {
  order: -1;
  width: 100%;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  margin-right: auto;
  text-transform: uppercase;
  padding-top: 2rem;
  padding-bottom: 0;
}
@media (min-width: 1200px) {
  .body__header #navbar-logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.body__header #navbar-active {
  border-style: solid;
  border-width: 0;
  border-bottom-width: 0.25rem;
  border-color: #ffffff;
}
.body__header nav {
  width: 100%;
}
@media (min-width: 1200px) {
  .body__header nav {
    width: 30%;
  }
}
.body__header ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
@media (min-width: 1200px) {
  .body__header ul {
    flex-wrap: unset;
  }
}
.body__header ul li {
  width: 50%;
  box-sizing: border-box;
  padding: 1rem;
}
.body__header ul li a {
  color: #ffffff;
  text-decoration: none;
}

footer {
  background-color: #323232;
  box-sizing: border-box;
  padding: 1rem;
  color: #ffffff;
}
footer img {
  margin: 1rem;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer ul .ul__full-width {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  footer ul .ul__social {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 6rem;
  }
  footer ul .ul__social p {
    flex-grow: 2;
  }
  footer ul .ul__social div {
    flex-grow: 4;
    margin-left: 0.5rem;
  }
}
footer .li__bold {
  font-weight: bold;
}

/* @include tablet {
}
@include desktop {
} */
.main__hero-bio {
  background-size: cover;
  background-image: url(../assets/Images/hero-bio.jpg);
  background-position: right;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
.main__hero-bio h1 {
  margin-left: 2rem;
  color: #ffffff;
}

.main__biography {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}

.section__hidden {
  display: none;
}
@media (min-width: 1200px) {
  .section__hidden {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .section__top {
    padding: 6rem;
  }
}

.main__gallery {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background-color: #fafafa;
}
@media (min-width: 1200px) {
  .main__gallery {
    padding: 6rem;
  }
  .main__gallery h2 {
    width: 100%;
  }
}
.main__gallery img {
  box-sizing: border-box;
  width: calc(100% - 2rem);
}
@media (min-width: 1200px) {
  .main__gallery img {
    width: calc(33% - 1rem);
  }
}/*# sourceMappingURL=bio.css.map */