@use "./partials/global" as *;

.main__hero-bio {
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(50, 50, 50, 0.35);
    // style guide says to use 50% but it looked too much
    background-image: url(../assets/Images/hero-bio.jpg);
    background-position: right;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    h1 {
        color: $pri-light;
        font-family: 'AvenirNextLTPro-Demi';
        margin-left: 1rem;
    }
}


.main__biography {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    padding-bottom: 0;

    h2 {
        font-family: 'AvenirNextLTPro-Demi';
        line-height: 1rem;
        margin: 0;
        padding-top: 0.2rem;
        padding-bottom: 1rem;
    }
}

.main__about-the-bees {
    font-size: 0.825rem;
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    @include tablet {
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0 6rem;
    }

    article {
        padding: 1rem;
        padding-top: 0;

        @include tablet {
            width: calc(50% - 2rem);
            padding-bottom: 2rem;
        }
    }

    h2 {
        font-size: 0.9rem;
        text-indent: 1rem;
        width: 100%;
    }
}

.section__top {
    font-family: 'AvenirNextLTPro-Demi';
    font-size: 0.85rem;

    @include tablet {
        padding: 6rem;
        padding-bottom: 0rem;
    }

    #section__photo {
        background-image: url(../assets/images/band.jpg);
        background-position: bottom;
        background-size: cover;
        --width: calc(100vw - 2rem);
        max-width: 100%;
        width: var(--width);
        height: calc(var(--width) / 1.868315938667697);

        @include tablet {
            background-position: center;
            --width: calc(100vw - 12rem);
            height: calc(var(--width) / 1.894736842105263);
        }

        // This is very convoluted, but the only way I could find to get this to match the mockup.
        // I measured the pixels of the photograph to calculate the aspect ratio for the phone and tablet
    }

    // img {
    //     width: 100%;
    //     max-height: 32vh;
    // }
}

.main__gallery {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $sec-light;
    gap: 1rem;
    margin-bottom: 1rem;

    h2 {
        margin-bottom: 0;
    }

    @include tablet {

        padding: 1.5rem;
        padding-top: 3.375rem;
        padding-bottom: 2.25rem;
        gap: 1.5rem;

        // measured
        h2 {
            margin: 0;
            margin-left: 0.625rem;
            width: 100%;
        }
    }

    @include desktop {
        padding: 2rem 6rem;
    }



    img {
        box-sizing: border-box;
        width: calc(100% - 2rem);

        @include tablet {
            width: calc(33% - 1.35rem);
        }
    }
}