@use "./partials/global" as *;

.hero {
    background-image: url(../assets/images/hero-shows.jpg);
    justify-content: flex-start;

    &__subhead {
        font-family: AvenirNextLTPro-Demi;
        letter-spacing: 0.025rem;
        width: 100%;
        color: $pri-light;
        margin-left: 1rem;
        margin-bottom: 0;
        margin-top: 0.5rem;

        @include tablet {
            font-size: 1.5rem;
            margin-left: 8rem;
        }
    }

    &__head {
        width: 70%;

        @include desktop {
            width: 35%;
            margin-left: 8rem;
        }
    }

    iframe {
        width: 100%;
        // width: 22rem;
        height: 7rem;
        padding: 0 1rem;

        @include tablet {
            width: 55%;
            padding: 0 2rem;
        }

        @include desktop {
            width: 40%;
        }
    }
}
.show-wrapper {
    @include desktop {
        display: flex;
        justify-content: space-around;
    }
    .show-wrapper__head {
        font-size: 2rem;
        margin-left: 1rem;
        margin-bottom: 0;

        @include tablet {
            margin-left: 2rem;
        }

        @include desktop {
            margin-left: 4rem;
        }
    }
}

.shows {
    @include desktop {
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        width: 70%;
    }

    // padding: 1rem;

}

.shows__container,
.showslist,
.showslist__headings {
    flex-direction: column;
}

.shows__container {

    display: flex;
    border-bottom: .2rem solid $pri-mid;
    padding: 1rem;

    @include tablet {
        flex-direction: row;
        align-items: center;
        padding: 1rem 2rem;
        padding-bottom: 0;
        padding-top: 0;
    }

    @include desktop {
        // width: 62%;
        // margin-right: 4.5rem;
    }

    .showslist {
        display: flex;
        width: 100%;
        list-style-type: none;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0.25rem;

        @include tablet {
            justify-content: space-around;
            flex-direction: row;
        }

        @include desktop {}

        &__date-item,
        &__venue-item,
        &__location-item {

            @include tablet {
                width: 30%;
                text-align: left;
            }

        }

        &__headings {
            color: $pri-mid;
            padding-top: 1rem;

            @include tablet {
                color: #afafaf;
                padding-top: 1rem;
                order: -2;
                /* width: 33%; */
                flex-basis: calc(33% - 3rem);
                /* clear: both; */
                margin-right: auto;
                padding: 0.5rem;
                margin-top: 1rem;
                margin-bottom: 2rem;

                // THIS IS IMPORTANT
            }
        }

        &__date-item {
            font-weight: bold;
        }

        &__ticket-item {
            text-transform: uppercase;
            padding: 1rem;
            font-size: 1.2rem;
            margin-top: 1rem;
            border-radius: 0.3rem;
            padding-bottom: 0.8rem;

            @include tablet {
                // margin-top: 0.5rem;
                margin-bottom: 1rem;
                width: 14rem;
            }
        }

        &__headings--hidden {

            @include tablet {
                display: none;
            }
        }
    }
}

.shows__container:hover {
    background-color: $sec-light;
}

.shows__container--selected {
    background-color: $sec-mid;
}

.shows__container:first-child .showslist__headings--hidden {

    @include tablet {
        display: flex;
        padding-left: 0.75rem;
        padding-top: 1.5rem;
    }
}

.shows__container:first-child .showslist {
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.shows__container:first-child {

    @include tablet {
        align-items: end;
    }
}

.shows__container:last-child {
    margin-bottom: 1rem;

    @include tablet {
        margin-bottom: 2rem;
    }
}