@use "../../styles/mixins.scss" as *;
@use "../../styles/colours.scss" as *;

.lightbox {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: $lightbox-bg;
    opacity: 1;
    z-index: 9;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: opacity 450ms ease;
    pointer-events: none;
    opacity: 0;

    &__content {
        display: flex;
        background-color: red;
        flex-direction: column;
        z-index: 10;
        width: 50%;
    }

    img {
        height: auto;
        width: 100%;
        margin-top: auto;
    }

    &--open {
        opacity: 1;
        pointer-events: all;
    }

}